services:

  backend:
    build: ./backend/
    restart: always
    ports:
      - "5000:5000"
    networks:
      - nginx
      - backend-bddapi
    depends_on:
      - bdd_api

  bdd:
    build: ./postgres/
    restart: always
    volumes:
      - bdd:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - bdd-bddapi

  bdd_api:
    build: ./BddInterface/
    restart: always
    networks:
      - backend-bddapi
      - bdd-bddapi
    ports:
      - "6000:6000"
    depends_on:
      - bdd

  frontend:
    build: ./frontend/
    restart: always
    ports:
      - "4000:4000"
    networks:
      - nginx
  
  nginx:
    build: ./nginx
    ports:
     - "8080:80"
    networks:
     - nginx

volumes:
  bdd:
    driver: local


networks:
  backend-bddapi:
    driver: bridge
  nginx:
    driver: bridge
  bdd-bddapi:
    driver: bridge
