@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
    display: flex;
    place-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4f4f4f;
}

tr:nth-child(even) {
  background-color: #181818;
}

tr:nth-child(odd) {
  background-color: #3d3d3d;
}


.error-box {
  color: #6c0c15;
  background-color: #ff8691;
  border-color: #f5c6cb;
}

.success-box {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.box {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  animation: 1s linear 4s hideBox forwards;
}

@keyframes hideBox {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
